body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-container {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 20px;
  width: 350px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.weather-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #fff;
}

.weather-input {
  width: 90%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  margin-bottom: 15px;
  font-size: 16px;
  outline: none;
}

.weather-btn {
  width: 95%;
  padding: 12px;
  border: none;
  border-radius: 12px;
  background-color: #fff;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.weather-btn:hover {
  background-color: #333;
  color: #fff;
}

.weather-result {
  margin-top: 25px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  color: #fff;
  font-size: 18px;
}
